<div id="container" class="d-flex flex-column">
    <mat-toolbar color="primary" class="d-print-none">
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="sidebar_one.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/auth" class="me-3" style="cursor: pointer">{{ appName }}</span>
        <app-left-menu class="d-none d-md-block"></app-left-menu>
        <app-right-menu (newClickEvent)="onOpenCalc()" class="ms-auto me-0"></app-right-menu>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidebar_one mode="over" class="d-print-none">
            <app-nav-bar></app-nav-bar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>