<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Category List</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li *ngFor="let category of categories"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    [routerLink]="['/auth', 'products', 'category', 'update', category.id]">
                    <div>
                        <h5 class="mb-1 fs-5">{{ category.title }}</h5>
                    </div>
                </li>
            </ul>
            <div *ngIf="categories.length === 0" class="alert alert-warning mt-3" role="alert">
                No Categoies to Shows.
            </div>
        </div>
    </div>
</div>