<button mat-icon-button class="ms-auto me-0" (click)="onOpenCalc()">
    <mat-icon>
        calculate
    </mat-icon>
</button>
<button mat-icon-button class="" [matMenuTriggerFor]="userMenu">
    <mat-icon>
        account_circle
    </mat-icon>
</button>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="profile">
        <mat-icon>person</mat-icon>
        Profile
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>