<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <h3 class="card-header fs-3">User Profile</h3>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mobile</mat-label>
                        <input type="text" matInput formControlName="mobile">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Old Password</mat-label>
                        <input type="password" matInput required="required" formControlName="oldPassword">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>New Password</mat-label>
                        <input type="text" matInput formControlName="newPassword">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input type="text" matInput formControlName="confirmPassword">
                    </mat-form-field>

                    <button mat-raised-button type="submit" color="primary" class="float-end">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>