<div class="container mt-3">
  <div class="row g-3 mt-2">
    <div class="col-6">
      <button
        mat-raised-button
        color="secondary"
        class="w-100"
        [routerLink]="['/auth', 'dashboard']"
      >
        <mat-icon> arrow_back </mat-icon>
        Previous
      </button>
    </div>
    <div class="col-6">
      <button
        mat-raised-button
        color="secondary"
        class="w-100"
        (click)="next()"
      >
        <mat-icon> arrow_forward </mat-icon>
        Next
      </button>
    </div>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-md-4 col-lg-2" *ngFor="let order of orders">
      <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
          <h4 class="fs-4 m-0 p-0">{{ order.product.title }}</h4>
        </div>
        <div class="card-body">
          <div class="fs-4 text-center" *ngIf="order.quantity > 0">
            Quantity: {{ order.quantity }}
          </div>
          <br />
          <div class="row g-3">
            <div class="col">
              <div class="btn-group w-100">
                <div
                  class="btn btn-outline-primary"
                  (click)="addQuantity(order.product.id)"
                >
                  Add
                </div>
                <div
                  class="btn btn-outline-danger"
                  (click)="removeQuantity(order.product.id)"
                >
                  Remove
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <label for="order.comment">Comment</label>
              <input
                type="text"
                class="form-control"
                name="comments"
                [(ngModel)]="order.comments"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
