<mat-card>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form>
      <mat-form-field class="w-100 mt-1" appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <mat-icon matPrefix>phone</mat-icon>
        <input
          type="text"
          matInput
          maxlength="10"
          [formControl]="mobileField"
          autocomplete="off"
        />
        <mat-hint align="end">{{ mobile.length || 0 }} / 10</mat-hint>
      </mat-form-field>

      <button
        type="button"
        class="w-100"
        mat-raised-button
        color="primary"
        [disabled]="mobileField.invalid"
        (click)="searchCustomer()"
      >
        <mat-icon>search</mat-icon>
        Search
      </button>

      <div class="w-100 result-container" *ngIf="customer.id > 0">
        <mat-card class="customer-card" (click)="setCustomer()">
          <mat-card-header>
            <mat-card-title>
              <mat-icon>person</mat-icon>
              <span class="customer-title">{{ customer.title }}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        </mat-card>
      </div>
    </form>
  </mat-card-content>
</mat-card>
